body {
    background-color: maroon;
}

.block {
  margin: 50px 50px 0px 50px;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/e2/45/01/e24501bf7ba9a94d98fef7c2228dc9b2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 100%;
  border-radius: 10px;
  height: 550px;
}

.title {
  font-size: 100px;
  text-align: center;
  font-family: Russo One;
  color: black;
}

.ages {
  font-size: 60px;
  text-align: center;
  font-family: Russo One;
  color: black;
}

.start {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 2px, solid, maroon;
  background-color: maroon;
  font-size: 24px;
  color: rgb(230, 184, 0);
  float: left;
  margin-left: 415px;
  margin-top: 60px;
  outline: none;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.start:active {
  box-shadow: 0 2px #999;
  transform: translateY(3px);
  outline: none;
}

.rules {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: 2px, solid, maroon;
  background-color: maroon;
  font-size: 24px;
  color: rgb(230, 184, 0);
  float: left;
  margin-top: 60px;
  outline: none;
  box-shadow: 0 5px #999;
  cursor: pointer;
}

.rules:active {
  box-shadow: 0 2px #999;
  transform: translateY(3px);
  outline: none;
}

.footer {
  background-color: #ccccb3;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  margin-left: -15px;
  margin-top: 10px;
}
